{% extends "::base.html.twig" %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <h1>Transactions</h1>

    <p>
    <a href="{{ url('transactions_index',
{'month': lastMonth|date('n'), 'year': lastMonth|date('Y')}) }}">
{{ lastMonth|date('F Y') }}
    </a> | <a href="{{ url('transactions_index',
{'month': nextMonth|date('n'), 'year': nextMonth|date('Y')}) }}">
{{ nextMonth|date('F Y') }}
</a>
    </p>

    {% if entities is empty %}
        <p>
            There are no transactions.
            <a href="{{ path("transactions_new") }}">
                Create one now.
            </a>
        </p>
    {% else %}
        <table border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Payer/Payee</th>
                    <th>Category</th>
                    <th>Inflow</th>
                    <th>Outflow</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for entity in entities %}
                    <tr>
                        <th rowspan="{{ entity.lineItems|length }}">{{ entity.date|date("Y-m-d") }}</th>
{% for lineItem in entity.lineItems %}
{% if loop.index > 1 %}
</tr>
<tr>
{% endif %}
<td>
<a href="{{ url('accounts_show', {'id': lineItem.account.id}) }}">
{{ lineItem.account }}
</a>
</td>
<td>
{% if lineItem.payee %}
{{ lineItem.payee }}
{% else %}
{{ lineItem.payer }}
{% endif %}
</td>
<td>
{% if lineItem.category %}
{{ lineItem.category }}
{% else %}
Income for {{ lineItem.assignedMonth.month|date('F Y') }}
{% endif %}
</td>
<td>${{ lineItem.inflow }}</td>
<td>${{ lineItem.outflow }}</td>
<td>
<a href="{{ url("lineitems_delete", {"id": lineItem.id}) }}">
Delete
</a>
</td>
{% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path("transactions_new") }}">
                Add Transaction
            </a>
        </li>
    </ul>
{% endblock %}
