{% extends "::base.html.twig" %}

{% block title %}Add Transaction{% endblock %}

{% block body %}
<h1>Add Transaction</h1>

{{ form_start(form) }}

<table border="0" cellpadding="3" cellspacing="3">
<thead>
<tr>
<th>Date</th>
<th>Inflow</th>
<th>Outflow</th>
<th>Balance</th>
</tr>
</thead>

<tbody>
<tr>
<td>
{{ form_widget(form.date) }}
</td>
<td>
<span id="inflow">$0.00</span>
</td>
<td>
<span id="outflow">$0.00</span>
</td>
<td>
<span id="balance">$0.00</span>
</td>
</tr>
</table>

<h2>Line Items</h2>

<table border="1" rules="rows" cellpadding="3" cellspacing="3">
<thead>
<tr>
<th>Type</th>
<th>Account</th>
<th>Inflow</th>
<th>Outflow</th>
</tr>
</thead>

<tbody class="lineitems" data-prototype="{{ '<td>'|e }}{{ form_widget(form.lineitems.vars.prototype.type)|e }}{{ '</td>'|e }}{{ '<td>'|e }}{{ form_widget(form.lineitems.vars.prototype.account)|e }}{{ '</td>'|e }}{{ '<td>'|e }}{{ form_widget(form.lineitems.vars.prototype.inflow)|e }}{{ '</td>'|e }}{{ '<td>'|e }}{{ form_widget(form.lineitems.vars.prototype.outflow)|e }}{{ '</td>'|e }}">
{% for lineitem in form.lineitems %}
<tr class="lineitem">
<td>
{{ form_widget(lineitem.type) }}
</td>
<td>
{{ form_widget(lineitem.account) }}
</td>
<td>
{{ form_widget(lineitem.inflow) }}
</td>
<td>
{{ form_widget(lineitem.outflow) }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/devbananabudget/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/devbananabudget/js/transaction-form.js') }}">
{% endblock %}
