{% extends "::base.html.twig" %}

{% block title %}
{%- if entity.id is not empty -%}
Modify Transaction
{%- else -%}
Add Transaction
{%- endif -%}
{% endblock %}

{% block stylesheets %}
<link style="text/css" rel="stylesheet"
href="{{ asset('bundles/devbananabudget/js/jquery-ui/jquery-ui.min.css') }}">
{% endblock %}

{% block body %}
<h1>{% if entity.id is not empty -%}
Modify Transaction
{%- else -%}
Add Transaction
{%- endif %}</h1>

<div id="alert" style="display:none;"></div>
<div id="errors" role="alert" style="display:none;"></div>

<div id="transaction-form">
{{ form_start(form) }}
<h2 tabindex="0">Transaction</h2>

<table border="0" cellpadding="3" cellspacing="3">
<thead>
<tr>
<th id="date-label">Date</th>
<th id="inflow-label">Inflow</th>
<th id="outflow-label">Outflow</th>
<th id="balance-label">Balance</th>
</tr>
</thead>

<tbody>
<tr>
<td>
{{ form_widget(form.date) }}
</td>
<td aria-labelledby="inflow-label" tabindex="0">
<span id="inflow">$0.00</span>
</td>
<td aria-labelledby="outflow-label" tabindex="0">
<span id="outflow">$0.00</span>
</td>
<td aria-labelledby="balance-label" tabindex="0">
<span id="balance" aria-live="polite">$0.00</span>
</td>
</tr>
</table>

<h2 tabindex="0">Line Items</h2>

<table border="1" rules="rows" cellpadding="3" cellspacing="3">
<thead>
<tr>
<th id="type-label">Type</th>
<th id="account-label">Account</th>
<th id="payee-label">Payer/Payee</th>
<th id="category-label">Category</th>
<th id="check-number-label">Check Number</th>
<th id="memo-label">Memo</th>
<th id="inflow-label">Inflow</th>
<th id="outflow-label">Outflow</th>
</tr>
</thead>

<tbody class="lineitems"
{%- if entity.id is not empty -%}
 data-id="{{ entity.id }}"
{%- endif %} data-prototype="
{{ '<td class="type">'|e }}
{{ form_widget(form.lineitems.vars.prototype.type)|e }}
{{ '</td>'|e }}
{{ '<td class="account">'|e }}
{{ form_widget(form.lineitems.vars.prototype.account)|e }}
{{ '</td>'|e }}
{{ '<td class="payee">'|e }}
{{ form_widget(form.lineitems.vars.prototype.payee)|e }}
{{ '</td>'|e }}
{{ '<td class="category">'|e }}
{{ form_widget(form.lineitems.vars.prototype.category)|e }}
{{ '</td>'|e }}
{{ '<td class="check-number">'|e }}
{{ form_widget(form.lineitems.vars.prototype.checkNumber)|e }}
{{ '</td>'|e }}
{{ '<td class="memo">'|e }}
{{ form_widget(form.lineitems.vars.prototype.memo)|e }}
{{ '</td>'|e }}
{{ '<td class="inflow">'|e }}
{{ form_widget(form.lineitems.vars.prototype.inflow)|e }}
{{ '</td>'|e }}
{{ '<td class="outflow">'|e }}
{{ form_widget(form.lineitems.vars.prototype.outflow)|e }}
{{ '</td>'|e }}
">
{% for lineitem in form.lineitems %}
<tr class="lineitem">
<td class="type">
{{ form_widget(lineitem.type) }}
</td>
<td class="account">
{{ form_widget(lineitem.account) }}
</td>
<td class="payee">
{% if lineitem.vars.data.type is not empty %}
{% if lineitem.vars.data.type == 'expense' %}
{{ form_widget(lineitem.payee) }}
{% elseif lineitem.vars.data.type == 'income' %}
{{ form_widget(lineitem.payer) }}
{% elseif lineitem.vars.data.type == 'transfer' %}
{{ form_widget(lineitem.transferAccount) }}
{% endif %}
{% else %}
{{ form_widget(lineitem.payee) }}
{% endif %}
</td>
<td class="category">
{% if lineitem.vars.data.type is not empty %}
{% if lineitem.vars.data.type == 'income' %}
{{ form_widget(lineitem.assignedMonth) }}
{% else %}
{{ form_widget(lineitem.category) }}
{% endif %}
{% else %}
{{ form_widget(lineitem.category) }}
{% endif %}
</td>
<td class="check-number">
{{ form_widget(lineitem.checkNumber) }}
</td>
<td class="memo">
{{ form_widget(lineitem.memo) }}
</td>
<td class="inflow">
{{ form_widget(lineitem.inflow) }}
</td>
<td class="outflow">
{{ form_widget(lineitem.outflow) }}
</td>
</tr>
{% if lineitem.vars.data.type is not empty %}
{% if lineitem.vars.data.type == 'expense' %}
{% do lineitem.payer.setRendered %}
{% do lineitem.transferAccount.setRendered %}
{% do lineitem.assignedMonth.setRendered %}
{% elseif lineitem.vars.data.type == 'income' %}
{% do lineitem.payee.setRendered %}
{% do lineitem.transferAccount.setRendered %}
{% do lineitem.category.setRendered %}
{% elseif lineitem.vars.data.type == 'transfer' %}
{% do lineitem.payee.setRendered %}
{% do lineitem.payer.setRendered %}
{% do lineitem.assignedMonth.setRendered %}
{% endif %}
{% else %}
{% do lineitem.payer.setRendered %}
{% do lineitem.transferAccount.setRendered %}
{% do lineitem.assignedMonth.setRendered %}
{% endif %}
{% endfor %}
</tbody>
</table>

<p><button id="submit">{% if entity.id is not empty -%}
Save
{%- else -%}
Add
{%- endif %}</button></p>
{{ form_end(form) }}
</div>

{# Dialogs #}
<div id="account_dialog" title="Add Account" style="display:none;" role="dialog"></div>
<div id="payee_dialog" title="Add a Payee" style="display:none;" role="dialog"></div>
<div id="new-category" role="dialog" title="Add a Category" style="display:none;"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/devbananabudget/js/account.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/devbananabudget/js/transaction-form.js') }}"></script>
{% endblock %}
