{% extends '::base.html.twig' %}

{% block title %}Create an Account{% endblock %}

{% block body -%}
    <h1>New Account</h1>

    <p>
        Use the form below to create a new account.
    </p>

    <p>
        An account is the place you keep your money. It could be a checking or
        savings account, or even loose cash.
    </p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.balance) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('accounts') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
