{% extends '::base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% set startResult = pagination.getItemNumberPerPage * (pagination.getCurrentPageNumber() - 1) + 1 %}
{% set endResult = startResult + pagination.getItemNumberPerPage - 1 %}
{% set total = pagination.getTotalItemCount %}

{% block body -%}
    <h1>{{ entity.name }}</h1>

                <p>Current balance: ${{ entity.balance|number_format(2) }}</p>

{% if total > 0 %}
<div class="pagination">
<p>Showing items {{ startResult }}-{{ endResult }} of {{ total }}</p>
{{ knp_pagination_render(pagination) }}
</div>

<table border="1" cellpadding="3" cellspacing="3">
<thead>
<tr>
<th>{{ knp_pagination_sortable(pagination, 'Date', 't.date', {'defaultDirection': 'desc'}) }}</th>
                    <th>Payer/Payee</th>
                    <th>Category</th>
                    <th>Check Number</th>
                    <th>Memo</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Inflow', 'l.inflow', { 'defaultDirection': 'desc' }) }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Outflow', 'l.outflow', { 'defaultDirection': 'desc' }) }}</th>
                    <th>Actions</th>
</tr>
</thead>

<tbody>
{% for lineItem in pagination %}
<tr>
<th>{{ lineItem.transaction.date|date('Y-m-d') }}</td>
<td>
{% if lineItem.payee %}
{{ lineItem.payee }}
{% elseif lineItem.payer %}
{{ lineItem.payer }}
{% elseif lineItem.transferAccount %}
{% if lineItem.inflow != 0 %}
Transfer from
{% else %}
Transfer to
{% endif %}
<a href="{{ path('accounts', {'id': lineItem.transferAccount.id}) }}">
{{ lineItem.transferAccount }}
</a>
{% endif %}
</td>
<td>
{% if lineItem.category %}
{{ lineItem.category }}
{% elseif lineItem.assignedMonth  %}
Income for {{ lineItem.assignedMonth.month|date('F Y') }}
{% endif %}
</td>
<td>
{{ lineItem.checkNumber }}
</td>
<td>
{{ lineItem.memo }}
</td>
<td>${{ lineItem.inflow }}</td>
<td>${{ lineItem.outflow }}</td>
<td>
<a href="{{ path('transactions_edit', {'id': lineItem.transaction.id}) }}">
Edit
</a> |
<a href="{{ url("lineitems_delete", {"id": lineItem.id}) }}">
Delete
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="pagination">
<p>Showing items {{ startResult }}-{{ endResult }} of {{ total }}</p>
{{ knp_pagination_render(pagination) }}
</div>
{% else %}
<p>There are no transactions under this account.</p>
{% endif %}

<button onclick="location.href = '{{ path('transactions_new', {account_id: entity.id}) }}';">Add Transaction</button>

        <ul class="record_actions">
    <li>
        <a href="{{ path('accounts') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('accounts_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path("accounts_delete", { "id": entity.id }) }}">
            Delete
        </a>
    </li>
</ul>
{% endblock %}
