{% extends '::base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% set startResult = pagination.getItemNumberPerPage * (pagination.getCurrentPageNumber() - 1) + 1 %}
{% set endResult = startResult + pagination.getItemNumberPerPage - 1 %}
{% set total = pagination.getTotalItemCount %}

{% if endResult > total %}
{% set endResult = total %}
{% endif %}

{% block body -%}
    <h1>{{ entity.name }}</h1>

                <p>Current balance: ${{ entity.balance|number_format(2) }}</p>

{% if total > 0 %}
{{ include('DevbananaBudgetBundle:LineItem:show_content.html.twig',
        {'pagination': pagination}) }}
{% else %}
<p>There are no transactions under this account.</p>
{% endif %}

<button onclick="location.href = '{{ path('transactions_new', {account_id: entity.id}) }}';">Add Transaction</button>

        <ul class="record_actions">
    <li>
        <a href="{{ path('accounts') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('accounts_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path("accounts_delete", { "id": entity.id }) }}">
            Delete
        </a>
    </li>
</ul>
{% endblock %}
