{% extends '::base.html.twig' %}

{% block title %}Tutorial Chapter 1: 3. Roll with the Punches{% endblock %}

{% block body %}
<h1>1.3. Roll with the Punches</h1>

<p>So you have your budget, <a href="{{ path('tutorials_1_1') }}">every dollar has a job</a>, and you are <a href="{{ path('tutorials_1_2') }}">saving for unexpected expenses</a>. You're moving along just fine, when one month you do the unthinkable: you overspend on a <a href="{{ path('tutorials_glossary') }}#category">category</a>!</p>

<p>Not to be worried: this situation is covered by rule 3: Roll with the Punches.</p>

<p>the fact is, life is unpredictable. Sometimes you have no choice but to overspend in a category. Let's say you budgeted $300 for groceries, but your kids have some friends over and they make a dent in your food supply. So you go back out and buy some more groceries, only to find that you've spent $350 in your Groceries category.</p>

<p>This is perfectly acceptable. Budgeting isn't about forcing yourself to adhere to a structure that doesn't work for your life. If you need to spend that extra $50, you spend it, and adjust later on. Perhaps you subtract $50 from another category and add it to Groceries. But what if you can't spare anything in any other category? That's where rule 3 enters in.</p>

<p>With rule 3, your negative category balances simply subtract from what you have to budget next month. So if you make $2,000 a month, and overspend in Groceries by $50, next month you will only have $1,950 available to budget. Not so bad, right? You just cut back a tiny bit here and there, but it's barely noticeable. It allows you to be flexible, while forcing you to face the consequences of major overspending. If you overspend by $500 and only have $1,500 to budget next month, you'll be feeling it.</p>

<p>If a budget is going to last, it needs to be flexible. Rule 3 gives you that permission to not be perfect at it. You don't need to blame yourself for overspending; you simply “roll with the punches” and adjust on the fly.</p>

<p>Then, you learn from your mistakes. If you consistently overspend by $50 in Groceries, then perhaps you should budget $350 instead.</p>

<h2>Rule 3 in Budget Banana</h2>

<p>In BB, your overspending will automatically be subtracted from next month. It's part of the formula of Available to Budget:</p>

<p><pre>Available to Budget =
    Not Budgeted Last Month
    − Overspent Last Month
    + Income This Month
    − Budgeted This Month</pre></p>

<p>Notice how the overspent last month is first subtracted from whatever you did not budget last month, before it affects your Available to Budget this month.</p>

<p>Example:</p>

<ul>
<li>Last month, you did not budget $200. You can see this by switching over to last month's budget and looking at the Available to Budget number.</li>
<li>Last month, you overspent in your categories by a total of $100.</li>
<li>This month, you make $2,000.</li>
<li>This month, you budget $500.</li>
</ul>

<p>Now Available to Budget is:</p>

<p><pre>    $200 Not Budgeted Last Month
    − $100 Overspent Last Month
    + $2,000 Income This Month
    − $500 Budgeted This Month
    = $1,600 Available to Budget</pre></p>

<p>Don't worry if this all goes over your head. YOu don't need to understand the formula, but simply understand that your overspent last month is subtracted from whatever you did not budget last month before being subtracted from this month's income.</p>

<p>
<a href="{{ path('tutorials_1_2') }}" accesskey="p" title="Chapter 1.2. Save for a Rainy Day" rel="prev">&larr; Previous</a>
<a href="{{ path('tutorials_1') }}" accesskey="u" title="Chapter 1. The Methodology">Up &uarr;</a>
<a href="{{ path('tutorials_1_4') }}" accesskey="n" title="Chapter 1.4. Live on Last Month's Income" rel="next">Next &rarr;</a>
</p>
{% endblock %}
