{% extends "::base.html.twig" %}

{% block title %}Tutorials{% endblock %}

{% block body %}
<h1>Tutorials</h1>

<p>This tutorial will teach you how to use Budget Banana, and the methodology behind it. Click the links below to get started.</p>

<ol>
<li><a href="{{ path('tutorials_1') }}">The Methodology</a>
<ol>
<li><a href="{{ path('tutorials_1_1') }}">Rule 1. Give Every Dollar a Job</a></li>
<li><a href="{{ path('tutorials_1_2') }}">Rule 2. Save for a Rainy Day</a></li>
<li><a href="{{ path('tutorials_1_3') }}">Rule 3. Roll with the Punches</a></li>
<li><a href="{{ path('tutorials_1_4') }}">Rule 4. Live on Last Month's Income</a></li>
</ol>
</li>
<li>
<a href="{{ path('tutorials_2') }}">The Application</a>
</li>
</ol>

<p><a href="{{ path('tutorials_1') }}" title="Chapter 1. The Methodology" accesskey="n">Next ⇒</a></p>
{% endblock %}
