<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %} | Budget Banana</title>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/devbananabudget/css/budget.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div><p><a href="{{path('homepage')}}">Home</a></p></div>
        {% block body %}{% endblock %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset("bundles/devbananabudget/js/jquery.min.js") }}"></script>
<script type="text/javascript" src="{{ asset('bundles/devbananabudget/js/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/devbananabudget/js/format-money.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
