{% extends "::base.html.twig" %}

{% block title %}Are You Sure?{% endblock %}

{% block body %}
<h1>Confirmation</h1>

<p>
Are you sure you would like to delete the transaction on {{ entity.transaction.date|date('F j, Y') }} {% if entity.inflow > 0 -%}
{%- if entity.payee -%}
with a payment from {{ entity.payee }}
{%- elseif entity.payer -%}
with a payment from {{ entity.payer }}
{%- elseif entity.transferAccount -%}
with a transfer from {{ entity.transferAccount }}
{%- else -%}
with an inflow
{%- endif %} of ${{ entity.inflow|number_format(2) }}
{%- else -%}
{%- if entity.payee -%}
with a payment to {{ entity.payee }}
{%- elseif entity.transferAccount -%}
with a transfer to {{ entity.transferAccount }}
{%- else -%}
with an outflow
{%- endif %} of ${{ entity.outflow|number_format(2) }}
{%- endif -%}?
</p>

{{ form(form) }}
{% endblock %}
